<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tech-Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><button><a href="/">Home</a></button></li>
                    <li><button><a href="/dashboard">Dashboard</a></button></li>
                    <li id="login"><button><a href="/login">Login</a></button></li>

                    <button style="visibility: visible" id="logout">Logout</button>

                </ul>
            </div>
            <div class="heading">The Tech Blog</div>
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>

    <footer class="container-fluid text-center">
        <p>Thanks for visiting!</p>
    </footer>
</body>

<script src="/js/logout.js"></script>

</html>