<div style="justify-content: center">
  <form class="login-form">
    <div class="card" style="background-color: #6f837c">
      <div
        class="card-header"
        style="
          background-color: rgb(40, 41, 33);
          color: white;
          padding: 10px;
          margin-bottom: 10px;
          font-size: 20px;
        "
      >
        <p>Login</p>
      </div>
      <div class="card-body">
        <label for="email-login">username:</label>
        <div style="margin-bottom: 20px; margin-top: 20px">
          <input type="text" id="email-login" />
        </div>
        <label for="password-login">password:</label>
        <div style="margin-bottom: 20px; margin-top: 20px">
          <input type="password" id="password-login" />
        </div>
        <div>
          <button style="width: 80%" type="submit">login</button>
        </div>
      </div>
    </div>
  </form>
</div>
