<div style="justify-content: center; width:90%; height:100%; margin:auto; justify-content:center; border:solid">
    <form class="signup-form">
        <div class="card" style="background-color: #6f837c;">
            <div class="card-header" style="
        background-color: rgb(40, 41, 33);
        color: white;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 20px;
      ">
                <p>Signup</p>
            </div>
            <div class="card-body" style="font-size: 20px;">
                <label for="username-signup">Username:</label>
                <div style="margin-bottom: 20px; margin-top: 20px">
                    <input type="text" id="username-signup" style="width: 100%" />
                </div>
                <label for="password-signup">Password:</label>
                <div style="margin-bottom: 20px; margin-top: 20px">
                    <input type="password" id="password-signup" style="width: 100%" />
                </div>
                <div>
                    <button style="width: 100%;" type="submit">Signup</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="../js/signup.js"></script>