* {
  box-sizing: border-box;
}
body {
  background-color: #6f837c;
}

nav {
  background-color: rgb(40, 41, 33);
  padding: 20px;
  color: white;
  font-size: large;
}

.heading {
  padding: 10px;
  display: inline;
  background-color: wheat;
  color: black;
  border-radius: 5px;
  margin-left: 25px;
  margin-top: 15px;
  box-shadow: 5px 5px wheat;
}
.post {
  margin-top: 10px;
  margin-bottom: 10px;
}
